@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Fira+Sans:wght@600&family=Poppins:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Poppins:wght@300&display=swap'); */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');


.home{
  font-size: 32px;
}

li{
  font-size: 20px;
} 

.body {
  display: flex;
  align-items: center;
}

.main {
  background-color: rgb(139, 175, 205);
  box-shadow: 10px 0px 10px white;
  display: flex;
  flex-direction: column;
}

.div1 {
  display: flex;
  justify-content: center;
}

.bg-img {
  width: 70%;
  margin-top: -70px;
  display: flex;
  justify-content: flex-start;
}

.bg-img img {
  width: 400px;
  height: 200px;
}

.div2 {
  display: flex;
  justify-content: space-between;
}

.box1 {
  position: relative;
  bottom: -350px;
}

.box1 img {
  height: 300px;
  width: 100px;
}

.t1,
.t2 {
  font-size: 80px;
  font-weight: bold;
}

.t2 {
  color: rgb(44, 97, 171);
}

.text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text2 span {
  font-size: 30px;
}

.text2 img {
  width: 500px;
  height: 500px;
}

.box3 img {
  width: 100px;
  height: 400px;
}

.about-us-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(8, 94, 181);
}

.about-us {
  margin: 50px 0px;
  width: 70%;
  height: 16rem;
}

.about-us h1 {
  font-size: 50px;
  color: white;
}

.about-us span {
  font-size: 30px;
  color: white;
}

.our-expertice-div {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-expertice {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-expertice-heading {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: rgb(44, 97, 171);
}

.boxes {
  margin: 60px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.boxes-box {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgb(133, 204, 251);
  box-shadow: 0px 0px 5px black;
  padding: 5px;
}

.boxes-box span {
  font-size: 28px;
  padding-left: 10px;
  padding-right: 10px;
}

.boxes-box h4 {
  font-weight: bolder;
  margin-top: 5rem;
  font-size: 35px;
}

.success-story-div {
  height: 27em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 103, 175);
}

.success-story {
  height: 20em;
  width: 100%;
  border-bottom-left-radius: 400em;
  border-bottom-right-radius: 400em;
  background-color: rgb(56, 75, 173);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
}

.story {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success-story-heading {
  margin-top: 100px;
  font-size: 50px;
  color: white;
}

.story-text {
  font-size: 25px;
  color: white;
  padding: 10px;
  margin: 20px 0px;
}


.scale-up-div {
  padding: 20px 0px;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(185, 213, 231);
  z-index: 1;
}

.scale-up {
  width: 90%;
  display: flex;
  gap: 30px;
  margin: 20px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.scale-up-text {
  font-size: 60px;
  font-weight: bold;
}

.scale-up-para {
  font-size: 20px;
}

.comp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inc-text {
  font-size: 15px;
  margin: 20px 0px;
}

.btn {
  background-color: rgb(56, 75, 173);
  border: none;
  height: 4em;
  width: 16em;
  border-radius: 10px;
  color: white;
  font-weight: 900;
  font-size: large;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.btn:hover{
  background-color: rgb(90, 115, 164);
}

#navbarNav{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 24px;
}

.nav-item{
  margin-left: 25px;
}

@media screen and (max-width:768px) {

  .text1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  .bg-img img {
      width: auto;
  }

  .box1 img {
      display: none;
  }

  .box3 img {
      display: none;
  }

  .boxes-box {
      height: auto;
  }

}

@media screen and (max-width: 524px) {

  .t1,.t2{
      font-size: 50px;
  }

  .text2 span{
      font-size: 20px;
      text-align: center;
      word-wrap: break-word;
  }

  .text2 img{
      width: 90%;
      height: 90%;
  }

  .bg-img img {
      display: none;
  }
}